// COLOR VARIABLES
$color-primary: #726a63;

$color-primary-dark: #3f4140;

$color-secondary: #f8b24f;

$color-white: #ffffff;

$color-white-fade: #ffffff41;

$color-primary-fade: #726a6369;

$color-pink: #ea9a96;

$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

// FONT VARIABLES
$font-primary: 'Lato', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-xlarge: 100em; // 1600px
$bp-large: 87.5em; //1400px
$bp-medium: 75em; // 1200px
$bp-small: 62.5em; // 1000px
$bp-xsmall: 50em; // 800px;
$bp-xxsmall: 25em; // 400px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (min-width: $bp-xlarge) {
    font-size: 70%;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 58%;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 53%;
  }

  @media only screen and (max-width: $bp-xsmall) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  line-height: 1.6;
  background-color: $color-white;
}

.container {
  display: grid;
  grid-template-rows: max-content repeat(3, min-content) max-content min-content;
  grid-template-columns: 7.15rem repeat(5, 1fr) 7.15rem;
  grid-gap: 2rem;

  @media only screen and (max-width: $bp-small) {
    grid-gap: 1rem;
  }
}
