// COLOR VARIABLES
$color-primary: #303960;

$color-primary-dark: #1a203d;

$color-secondary: #f8b24f;

$color-white: #ffffff;

$color-white-fade: #ffffff21;

// $color-pink: #ea9a96;

$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
$shadow-light: 0 2rem 5rem rgba(0,0,0,.06);


// FONT VARIABLES
$font-primary: 'Lato', sans-serif;;

// RESPONSIVE BREAKPOINTS
$bg-collosal: 100em;  // 1600px
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
      }

    @media only screen and (min-width: $bg-collosal) {
        font-size: 80%;
      }
}

body {
    font-family: $font-primary;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-rows: min-content repeat(4, min-content) min-content;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 3rem;
}