.intro {
  grid-row: 1 / 2;
  grid-column: 2 / 7;
  margin-top: 7.5rem;
  padding: 7rem;
  background-color: transparent;
  color: $color-primary;
  display: grid;
  grid:
    'img img hello'
    'img img name'
    'img img title'
    'img img des';

  @media only screen and (min-width: $bp-xlarge) {
    padding: 10rem;
    grid-column: 1 / 8;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 9rem;
    grid-column: 1 / 8;
  }

  @media only screen and (max-width: $bp-xsmall) {
    grid:
      'hello hello hello'
      'name name name'
      'img img img'
      'title title title';
    justify-content: center;
    text-align: center;
    padding: 5rem;
  }

  &__container {
    position: relative;
    width: 33.6rem;
    height: 33.6rem;
    z-index: -1;
    margin-right: 3rem;
    // border-radius: 100%;
    grid-area: img;
    justify-self: center;
    // box-shadow: $shadow-light;

    @media only screen and (max-width: $bp-medium) {
      justify-content: start;
    }

    @media only screen and (max-width: $bp-xsmall) {
      margin-bottom: 2rem;
      margin-right: 0;
    }

    img {
      width: 100%;
      box-shadow: $shadow-dark;
    }

    &::before {
      content: '';
      // border: 5px solid $color-primary;
      background: $color-primary-fade;
      position: absolute;
      top: -40px;
      left: -40px;
      z-index: -1;
      width: 33.6rem;
      height: 33.6rem;
      grid-area: img;

      @media screen and (max-width: $bp-xsmall) {
        display: none;
      }
    }
  }

  &__hello {
    color: $color-primary;
    grid-area: hello;
    align-self: end;

    @media only screen and (max-width: $bp-xsmall) {
      margin-bottom: 1rem;
      margin-top: 2rem;
    }
  }

  &__name {
    grid-area: name;
    @media only screen and (max-width: $bp-xsmall) {
      margin-bottom: 3rem;
    }
  }

  &__exclamation,
  &__period {
    color: $color-secondary;
    font-size: 7rem;
    margin-left: 0.75rem;

    @media only screen and (max-width: $bp-xsmall) {
      font-size: 5rem;
    }
  }

  &__jobtitle {
    grid-area: title;
    align-self: end;

    @media only screen and (max-width: $bp-xsmall) {
      font-size: 2.5rem;
    }
  }

  &__description {
    grid-area: des;

    @media only screen and (max-width: $bp-xsmall) {
      display: none;
    }
  }

  &__description {
    font-size: 1.8rem;
  }
}
