@media (max-width: 1439px) {

    .intro-aboutme-wrapper{
      display: block;
      width: 100%;

        #intro{
            
            width: 100%;
        }

        #about{
            width: 100%;
        }
  }

}
