.skills {
  grid-row: 3 / 4;
  grid-column: 2 / 7;
  background-color: $color-primary-fade;
  padding: 7rem;
  color: $color-primary;
  display: grid;
  grid-template-rows: min-content repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  box-shadow: 0, 2rem, 4rem rgba(0, 0, 0, 0.527);

  @media only screen and (min-width: $bp-xlarge) {
    padding: 10rem;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 9rem;
    grid-column: 1 / 8;
  }

  @media only screen and (max-width: $bp-xsmall) {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 5rem;
  }

  &__heading {
    grid-row: 1 / 2;
    grid-column: 1 / span 2;
    border-bottom: 2px solid $color-secondary;

    @media only screen and (max-width: $bp-xsmall) {
      grid-columns: 1 / -1;
      padding-bottom: 0;
    }
  }

  &__skill {
    &-1 {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }
    &-2 {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }
    &-3 {
      grid-row: 4 / 5;
      grid-column: 1 / 2;
    }
    &-4 {
      grid-row: 5 / 6;
      grid-column: 1 / 2;
    }
    &-5 {
      grid-row: 6 / 7;
      grid-column: 1 / 2;
    }
    &-6 {
      grid-row: 2 / 3;
      grid-column: 2 / 3;

      @media only screen and (max-width: $bp-xsmall) {
        grid-row: 7 / 8;
      }
    }
    &-7 {
      grid-row: 3 / 4;
      grid-column: 2 / 3;

      @media only screen and (max-width: $bp-xsmall) {
        grid-row: 8 / 9;
      }
    }
    &-8 {
      grid-row: 4 / 5;
      grid-column: 2 / 3;

      @media only screen and (max-width: $bp-xsmall) {
        grid-row: 9 / 10;
      }
    }
    &-9 {
      grid-row: 5 / 6;
      grid-column: 2 / 3;

      @media only screen and (max-width: $bp-xsmall) {
        grid-row: 10 / 11;
      }
    }
    &-10 {
      grid-row: 6 / 7;
      grid-column: 2 / 3;

      @media only screen and (max-width: $bp-xsmall) {
        grid-row: 11 / 12;
      }
    }

    &-1,
    &-2,
    &-3,
    &-4,
    &-5,
    &-6,
    &-7,
    &-8,
    &-9,
    &-10 {
      &:not(last-child) {
        margin-bottom: 5rem;
      }

      &--heading {
        color: $color-primary;
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
      }

      &--percent {
        justify-self: end;
      }

      &--fullbar {
        border: 1px solid $color-primary-dark;
        height: 1rem;
        border-radius: 5rem;
      }

      &--progbar {
        height: 0.8rem;
        background-color: $color-secondary;
        display: block;
        border-radius: 5rem;
      }

      @media only screen and (max-width: $bp-xsmall) {
        grid-column: 1 / -1;
      }
    }
  }
}
